.container {
  padding: 2rem;
}

.nav {
  background: #23272e;
  padding: 1rem 2vw;
  margin-bottom: 2rem;
  border-bottom: 1px solid #222;
  display: flex;
  gap: 1.5rem;
}

.link {
  color: #61dafb;
  text-decoration: none;
  margin-right: 1rem;
}

.link:last-child {
  margin-right: 0;
}