.inputContainer {
  margin: 2rem 0;
}

.input {
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 400px;
  max-width: 80vw;
  border: 2px solid #61dafb;
  border-radius: 4px;
  outline: none;
}

.example {
  color: #61dafb;
  font-size: 0.9rem;
}